<!DOCTYPE html>
<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*">
            <button type="submit">Upload</button>
        </form>
        {% if img_input %}
        <div>
            <h3>Input Image</h3>
            <img src="{{img_input}}">
        </div>
        {% endif %}

        {% if img_output %}
        <div>
            <h3>Output Image</h3>
            <img src="{{img_output}}">
        </div>
        {% endif %}

        {% if result_msg %}
        <div>
            <h4>{{result_msg}}</h4>
        </div>
        {% endif %}
    </body>
</html>
